body{
	font-family: 'Raleway', sans-serif;
	background-color: #e0e0e0;
}
h2{
	font-weight: bold;
}

/*Nav*/
nav{
	z-index: 1;
}
.navbar{
	background-color: rgba(0,0,0,0.4);
	width: 100%;
}
.navbar-brand span{
	color: rgb(144,238,144);
	font-size: 24px;
	font-weight: bold;
}
ul li{
	font-size: 18px;
	font-weight: bold;
}
.nav-right{
	float: right;
}
.nav-icon{
	font-size: 25px;
	margin: 2px;
	margin-right: 7px;
}
.nav-icon:hover{
	color: #fff;
}
.navbar .navbar-toggler{
	border: 0;
}

/*Jumbotron*/
.main-page{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    			url("../images/kettlebell-background.jpg")
    			no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

	display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron{
	margin-top: 30px;
	background-color: transparent;
}
h1{
	color: #fff;
	text-shadow: 1px 2px #000;
}
.jumbotron .lead{
	color: #FF8C00;
	font-size: 30px;
	text-shadow: 1px 1px #000;
}
.form-contact-link{
	text-decoration: none !important;
}
.guarantee{
	font-size: 19px;
	color: #a2a1a1;
	text-decoration: none;
	text-shadow: 1px 2px #000;
	margin-bottom: 35px;
}
.guarantee:hover{
	color: #fff;
}
#first-class-free-text{
	color: #FF0000;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 2px #000;
}
#first-class-free-text:hover{
	color: #fff;
}

/*About*/
.about section{
	background-color: #b5b5b3;
	margin: auto;
	padding: 15px;
}

/*Activities*/
.act-cert{
	margin-top: 30px;
	padding-bottom: 20px;
}
.strong-first, .rkc, .simple-and-sinister, .beast-tamer, .for-martial-arts{
	border-left: 1px solid #000;
}
.btn--orange{
	color: #fff;
	background-color:#FF8C00;
}
.btn--orange:hover, .btn--orange:active, .btn--orange:focus{
	color: #FF8C00 !important;
	background-color:#fff !important;
}
.icon-activities{
	color: #FF8C00;
}
.pad-for-act{
	padding: 5px 20px;
}

/*Coaches*/
h4.list-group-item{
	background: transparent;
	border: none;
}
li.list-group-item{
	background: transparent;
	font-weight: lighter;
	font-size: 95%;
	border: none;
}
p.coach-paragraph{
	font-size: 80%;
}
.blockquote-footer{
	font-size: 12px;
}
.coaches .row{
	background-color: #d8d8d8;
}
img{
	width: auto;
	height: auto;
}
/*Timetable*/
.container-bottom{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    			url("../images/group.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding-bottom: 15px;
	overflow: visible;
}
th, label{
	color: #fff;
	text-shadow: 1px 1px #000;
}
.icon-bottom{
	font-size: 20px;
	background-color: #fff;
	background: transparent;
	color: rgb(144,238,144);
	border: none;
	outline: none;
	height: 40px;
	width: 40px;
	text-align: center;
	outline: none !important;
}
.bottom-dumbell, .bottom-dragon{
	transform: translateX(-20%);
}
.icon-bottom:hover{
	color: rgb(72 255 72);
}

/*Form*/
.first-class-text{
	color: rgb(144,238,144);
	text-shadow: 1px 1px #000;
	font-size: 20px;
}
input:focus, textarea:focus{
	box-shadow: none !important;
	border: 2px solid rgb(144,238,144) !important;
}
.btn-form{
	font-weight: bold;
	background-color: #000;
	color: rgb(144,238,144);
	border: none;
	width: 150px;
}
.btn-form:hover, .btn-form:active, .btn-form:focus{
	background-color: rgb(144,238,144) !important;
	font-weight: bold !important;
	color: #000 !important;
	box-shadow: none !important;
}

/*Footer*/
.page-footer{
	background-color: #868686;
	color: #dcd7d7;
	font-weight: bold;
}
footer i{
	color: #022f02;
	font-size: 20px;
	margin-right: 10px;
}
.page-footer span{
	font-size: 20px;
	color: #022f02;
}
footer i:hover, .copyright-col span:hover{
	color: rgb(144,238,144);
}
.icon-text:hover, .copyright-col:hover{
	color: #fff;
}
