body{
	font-family: 'Lato', sans-serif;
	background-color: #e0e0e0;
}
.jumbotron{
	background-image: url("../images/kettlebell-background.jpg");
	color: #d4d4d4;
}
.jumbotron .lead{
	font-size: 30px;
}

.guarantee{
	font-size: 19px;
	color: white;
	text-shadow: 1px 2px black;
}

.about section{
	background-color: #b5b5b3;
	margin: auto;
	padding: 15px;
}
.table-form{
	background-image: url("../images/group.jpg");
	background-size: cover;
	padding-top: 15px;
	padding-bottom: 15px;
}
th, label{
	color: white;
	text-shadow: 1px 1px black;
}